@page "/lecturer-exam-details"
@using OnlineTesty_Library.Models
@inject OnlineTesty_Library.Repositories.IExamRepositories ExamService
@inject OnlineTesty_Library.Repositories.IExamQuestionsRepositories ExamQuestionService

@attribute [Authorize(Roles = "Lecturer")]

<h3>Szczegóły egzaminu</h3>
<br />

<style>
    .list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .exam-record {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: white;
        color: black;
        padding: 12px;
    }

    .exam-question-record {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: white;
        color: black;
        padding: 12px;
    }
</style>


<EditForm Model="@exam">
    <div>
        <ul class="list">
            <li class="exam-record"><b>Nazwa egzaminu:</b> @exam.Name</li>
            <li class="exam-record"><b>Opis egzaminu:</b> @exam.Description</li>
            <li class="exam-record"><b>Nazwa grupy studenckiej:</b> @exam.StudentGroupName</li>
            <li class="exam-record"><b>Status egzaminu:</b> @exam.ExamStatus</li>
        </ul>
    </div>
</EditForm>

<EditForm Model="@examQuestions">
    <div>
        @foreach (var item in ExamQuestionService.ReadAllQuestionsByExam(Guid.Parse("DBFA9408-A849-44B6-B2BC-08D9A5E3163E")))
            {   
                <ul class="list">
                    <li class="exam-question-record"><b>@item.Question</b></li>
                    <li class="exam-question-record">A: @item.AnswerA</li>
                    <li class="exam-question-record">B: @item.AnswerB</li>
                    <li class="exam-question-record">C: @item.AnswerC</li>
                    <li class="exam-question-record">D: @item.AnswerD</li>
                    <li class="exam-question-record"><i>Poprawna odpowiedź: @item.CorrectAnswerChar</i></li>
                </ul>
                <br/><br/>
            }      
    </div>
</EditForm>


@code {

    private Exam exam = new Exam();
    private IEnumerable<ExamQuestion> examQuestions;

    protected override void OnInitialized()
    {
        exam = ExamService.Read(Guid.Parse("DBFA9408-A849-44B6-B2BC-08D9A5E3163E"));
        examQuestions = ExamQuestionService.ReadAllQuestionsByExam(Guid.Parse("DBFA9408-A849-44B6-B2BC-08D9A5E3163E"));
    }
}
